*{
    margin: 0;
    padding: 0;
}


.Event{
    font-size: 25px;
    color: rgb(0, 24, 46);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background{
    width: 500x;
    height: 450px;
    background-image: url(img/wine.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.left{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    width: 150;

}

